body {
    background-image: url(../image/background/nebula006.png);
}

body > div.header > h3.header {
    margin: 20px 20px 20px 20px;
}

body > div.header > h3 > a {
    float: right;
}

body > div.header > h3 > a.roll-button {
    margin-right: 20px;
}

/* Class Styles */
.hidden { display: none; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.float-right { float: right; }

div.container.site-info {
    margin-top: 60px;
}

div#saveModal > div.modal-content,
div#saveModal > div.modal-content > div.row,
div#saveModal > div.modal-content > div.row > div.input-field {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

div#saveModal textarea { height: 120px; }

/* Info */
div.info-container { margin: 20px 40px 20px 40px; }
div.info-container div.tab-contents { padding: 20px 20px 20px 20px; }
div.info-container div.tab-contents div.row { margin-bottom: 5px; }

/* Tab Color */
div.info-container ul.tabs > li.tab a { color: #FFF; }
div.info-container ul.tabs > li.tab a.active { color: #FFF; }
div.info-container ul.tabs > li.tab a:hover { color: #FFF; }
div.info-container ul.tabs > li.tab a:focus { background-color: rgba(255, 255, 255, 0.1); }
div.info-container ul.tabs > li.tab a:focus.active { background-color: rgba(255, 255, 255, 0.1); }
div.info-container ul.tabs .indicator  { background-color: #FFF; }

div.info-container > div.tab-contents {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0px 0px 0px 11px !important;
}

.image-frame {
    border: 4px solid #45b;
    border-radius: 30px;
    margin-right: 20px;
}

.image-frame > img {
    margin: 0px;
    padding: 20px;
}

.starfield-bg {
    background-image: url("../image/background/starfield.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

/* Visualization */
div.visualization-container {
    margin: 0px 40px 20px 40px;
}

div.visualization-container nav,
div.visualization-container div.nav-wrapper {
    line-height: 2em;
    height: 2em;
}

div.visualization-container nav {
    padding: 0px 4px 0px 4px;
}

.group-label,
.star-label,
.planet-label,
.view-title {
    color: white;
    font-weight: bold;
}

.planet-ring {
    position: absolute;
    left: -180px;
    top: 266px;
}

#systemVis {

}

#systemVis .planet{
    margin-left: 10px;
    margin-right: 10px;
}
