body {
    background-image: url(../image/background/nebula006.png);
}

body > div.header > h3.header {
    margin: 20px 20px 20px 20px;
}

body > div.header > h3 > a {
    float: right;
}

body > div.header > h3 > a.roll-button {
    margin-right: 20px;
}

/* Class Styles */
.hidden { display: none; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.float-right { float: right; }

div.container.site-info {
    margin-top: 60px;
}

/* Visualization */
div.visualization-container {
    margin: 0px 40px 20px 40px;
}

div.visualization-container nav,
div.visualization-container div.nav-wrapper {
    line-height: 2em;
    height: 2em;
}

div.visualization-container nav {
    padding: 0px 4px 0px 4px;
}

.group-label,
.star-label,
.view-title {
    color: white;
    font-weight: bold;
}

#systemVis .planet{
    margin-left: 10px;
    margin-right: 10px;
}
